html {
  height: 100%;
  width: 100%;
}

#digimons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.digi {
  text-align: center;
  border: 1px solid #efefef;
  border-radius: 5px;
  -webkit-box-shadow: 10px 5px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 5px 23px 0px rgba(0,0,0,0.75);
   box-shadow: 10px 5px 23px 0px rgba(0,0,0,0.75);
}

.digi img {
  width: 250px;
}

.digi h2 {
  margin: 0px;
}
